<template>
  <component :is="layout">
    <slot />
  </component>
</template>

<script>
import { useRoute } from "vue-router";
import { computed } from "vue";
export default {
  name: "Layout",
  setup() {
    const route = useRoute();
    const layout = computed(() => {
      const layout = route?.meta?.layout;
      if (layout) {
        return layout;
      }
      return "div";
    });
    return {
      layout,
    };
  },
};
</script>
