<template>
  <main>
    <h1>Tasks</h1>
    <div id="BodyContentPlaceHolder_ctl00">
      <div class="table">
        <table>
          <thead>
            <tr>
              <th style="width: 1px">Completed</th>
              <th>Details</th>
              <th style="width: 1px"></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in tasks" :key="item.id">
              <td style="text-align: center; width: 1px">
                <span class="checkbox">
                  <input
                    :checked="item.completed"
                    type="checkbox"
                    @change="updateCheckedTask(item.id, !item.completed)"
                  />
                </span>
              </td>
              <td>{{ item.details }}</td>
              <td style="width: 1px">
                <Dropdown>
                  <a @click="editTask(item.id)">Edit</a>
                  <a @click="deleteTask(item.id)">Delete</a>
                </Dropdown>
              </td>
            </tr>
            <tr class="info">
              <td colspan="99">
                <a @click="openModal()" href="#">+ Create a new task</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>
  <Modal ref="modalTask">
    <div class="body">
      <fieldset class="required">
        <label>Details</label>
        <textarea
          v-model="modelRef.details"
          rows="2"
          cols="20"
          class="text"
          style="height: 100px"
        ></textarea>
      </fieldset>
    </div>
    <div class="footer">
      <p class="commands">
        <span class="grow"></span>
        <a class="button hollow" href="#" @click="closeModal()">Cancel</a>
        <a class="button" href="#" @click="save">Save</a>
      </p>
    </div>
  </Modal>
</template>

<script>
import { ref, computed, onMounted } from "vue";
import { useStore } from "vuex";
import Modal from "@/components/home/modal.vue";
import { useToast } from "vue-toastification";
import { useTasks } from "@/composables/task";
import Dropdown from "@/components/home/dropdown.vue";
export default {
  name: "Home",
  components: {
    Modal,
    Dropdown,
  },
  setup() {
    const store = useStore();
    const toast = useToast();
    const modelRef = ref({
      id: undefined,
      details: "",
    });
    const tasks = computed(() => store.getters["task/getTasks"]);
    const {
      getTasks,
      createTask,
      updateCompletedTask,
      getTaskById,
      updateTask,
      deleteTaskById,
    } = useTasks();
    getTasks();
    const updateCheckedTask = (id, completed) => {
      updateCompletedTask(id, { completed });
    };
    const deleteTask = (id) => {
      let text = "Are you sure that you want to delete this task?";
      if (confirm(text) == true) {
        deleteTaskById(id);
      }
    };
    const submit = () => {
      if (validate()) {
        return false;
      }
      if (modelRef.value.id) {
        var payload = { details: modelRef.value.details };
        updateTask(modelRef.value.id, payload);
      } else {
        createTask({ details: modelRef.value.details });
      }
      return true;
    };
    const validate = () => {
      if (!modelRef.value.details || modelRef.value.details.trim() === "") {
        toast.error("One or more required fields haven't been filled in.", {
          position: "top-center",
          timeout: 2000,
          closeOnClick: true,
          pauseOnFocusLoss: true,
          pauseOnHover: true,
          draggable: true,
          draggablePercent: 0.6,
          showCloseButtonOnHover: false,
          hideProgressBar: true,
          closeButton: "button",
          icon: true,
          rtl: false,
        });
        return true;
      }
      return false;
    };
    const setForm = (task) => {
      modelRef.value.details = "";
      modelRef.value.id = undefined;
      if (task) {
        modelRef.value = task;
      }
    };
    return {
      updateCheckedTask,
      deleteTask,
      submit,
      modelRef,
      tasks,
      setForm,
      getTaskById,
    };
  },
  methods: {
    openModal(title) {
      if (!title) {
        title = "Create task";
        this.setForm();
      }
      this.$refs.modalTask.open({ title });
    },
    closeModal() {
      this.$refs.modalTask.close();
    },
    async editTask(id) {
      var result = await this.getTaskById(id); // another way we get in state as tasks
      this.setForm(result);
      this.openModal("Edit task");
    },
    save() {
      var result = this.submit();
      if (result) {
        this.closeModal();
      }
    },
  },
};
</script>
