<template>
  <span class="popup_menu" ref="menu" @click="openClose">
    <span v-if="isOpen" :style="isOpen ? 'display:block' : 'display:none'">
      <slot />
    </span>
  </span>
</template>
<script>
export default {
  data() {
    return {
      isOpen: false,
    };
  },
  methods: {
    openClose() {
      var _this = this;
      const closeListerner = (e) => {
        // Check if user clicks outside of the menu
        // true — close the menu and remove EventListener
        if (_this.catchOutsideClick(e, _this.$refs.menu))
          window.removeEventListener("click", closeListerner),
            (_this.isOpen = false);
      };
      // Add event listener to watch clicks outside the menu
      window.addEventListener("click", closeListerner);
      // Close if open and vice versa
      this.isOpen = !this.isOpen;
    },
    catchOutsideClick(event, dropdown) {
      // When user clicks menu — do nothing
      if (dropdown == event.target) {
        var rect = event.target.parentElement.getBoundingClientRect();
        event.target.firstChild.style.left = rect.left + "px";
        event.target.firstChild.style.top = rect.bottom + "px";

        if (
          event.target.firstChild.offsetLeft +
            event.target.firstChild.offsetWidth >=
            document.documentElement.clientWidth &&
          rect.right - event.target.firstChild.offsetWidth >= 0
        ) {
          event.target.firstChild =
            rect.right - event.target.firstChild.offsetWidth + "px";
        }

        if (
          event.target.firstChild.offsetTop +
            event.target.firstChild.offsetHeight >=
            document.documentElement.clientHeight &&
          rect.top - event.target.firstChild.offsetHeight >= 0
        ) {
          event.target.firstChild =
            rect.top - event.target.firstChild.offsetHeight + "px";
        }
        return false;
      }
      // When user clicks outside of the menu — close the menu
      if (this.isOpen && dropdown != event.target) return true;
    },
  },
};
</script>
