<template>
  <div v-if="isVisible">
    <div class="dialogue">
      <div style="width: 750px">
        <div class="header">
          <a class="close" href="#" @click="close"></a>
          <h2>{{ title }}</h2>
        </div>
        <slot></slot>
      </div>
    </div>
  </div>
  <div v-if="isVisible" class="overlay visible"></div>
</template>
<script>
export default {
  data: () => ({
    isVisible: false,
    title: "",
  }),

  methods: {
    open({ title }) {
      this.isVisible = true;
      this.title = title;
    },
    close() {
      this.isVisible = false;
    },
  },
};
</script>
